<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <style>
    a{
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
    h2{
      width: 180px;
      height: 38px;
      margin: 100px auto;
      text-align: center;
      line-height: 38px;
      background: deepskyblue;
      border-radius: 5px;
    }
  </style>
</head>
<body>
<!--<a th:href="@{allBooks}">增加商品</a>-->
<!--<a href="allBooks">查找全部商品</a>-->
<!--<a href="">删除商品</a>-->
<!--<a href="">修改商品</a>-->
<!--<a href="addBook">增加商品</a>-->
<!--<a href="">通过id查找商品</a>-->
<h2>
  <a href="allBooks"> 进入书籍页面 </a>
</h2>
</body>
</html>